.card-btn-close,
.card-btn-like {
  height: 24px;
  cursor: pointer;
}

.card-btn-pre,
.card-btn-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
}

.card-btn-pre {
  left: 24px;
  transform: translate(-70%, -50%);
}

.card-btn-next {
  right: 24px;
  transform: translate(70%, -50%);
}

.card-btn-pre img,
.card-btn-next img {
  height: 100%;
}

.card-btn-close:hover,
.card-btn-like:hover,
.card-btn-pre:hover,
.card-btn-next:hover {
  filter: brightness(50%);
}