:root {
    --grass-type: #7AC74C;
    --normal-type: #A8A77A;
    --fire-type: #EE8130;
    --water-type: #6390F0;
    --electric-type: #F7D02C;
    --ice-type: #96D9D6;
    --fighting-type: #C22E28;
    --poison-type: #A33EA1;
    --ground-type: #E2BF65;
    --flying-type: #A98FF3;
    --psychic-type: #F95587;
    --bug-type: #A6B91A;
    --rock-type: #B6A136;
    --ghost-type: #735797;
    --dragon-type: #6F35FC;
    --dark-type: #705746;
    --steel-type: #B7B7CE;
    --fairy-type: #D685AD;
}

.grass {
    background-color: var(--grass-type) !important;
}

.normal {
    background-color: var(--normal-type);
}

.fire {
    background-color: var(--fire-type);
}

.water {
    background-color: var(--water-type);
}

.electric {
    background-color: var(--electric-type);
}

.ice {
    background-color: var(--ice-type);
}

.fighting {
    background-color: var(--fighting-type);
}

.poison {
    background-color: var(--poison-type);
}

.ground {
    background-color: var(--ground-type);
}

.flying {
    background-color: var(--flying-type);
}

.psychic {
    background-color: var(--psychic-type);
}

.bug {
    background-color: var(--bug-type);
}

.rock {
    background-color: var(--rock-type);
}

.ghost {
    background-color: var(--ghost-type);
}

.dragon {
    background-color: var(--dragon-type);
}

.dark {
    background-color: var(--dark-type);
}

.steel {
    background-color: var(--steel-type);
}

.fairy {
    background-color: var(--fairy-type);
}