.footer {
  padding: 1.5rem 2rem;
  background-color: tomato;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.footer__link {
  padding: 6px 24px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}