.pokeFontColor {
  font-weight: normal;
  color: #ffcc01;
  text-shadow: 3px 0 #395ba8, -3px 0 #395ba8, 0 3px #395ba8, 0 -3px #395ba8,
    2px 2px #395ba8, -2px -2px #395ba8;
}

.d-none {
  display: none !important;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.no-entry {
  display: flex;
  align-items: center;
  font-size: xx-large;
}
