.loader-info {
    margin-top: 150px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.page-loader::before {
    content: '';
    position: absolute;
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
    background-image: url('../img/pika.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(96%);
    transform: translateX(-50px);
    z-index: 1;
}

.page-loader .update-loader {
    position: relative;
    z-index: 10;
    width: 50px;
    display: flex;
    margin: 1.5rem auto;
}

.page-loader .update-loader>span {
    width: 10px;
    height: 60px;
    margin: 0px 1px;
    padding: 3px;
}

@keyframes bgchange {
    0% {
        background-color: var(--c-green)
    }
    20% {
        background-color: var(--c-red)
    }
    40% {
        background-color: var(--c-blue)
    }
    60% {
        background-color: var(--c-electric)
    }
    80% {
        background-color: var(--c-poison)
    }
    100% {
        background-color: var(--c-green)
    }
}

.update-loader {
    width: 40px;
    display: flex;
    margin: 1.5rem auto;
}

.loader-layer-info>.update-loader {
    margin: 16rem 0 0 0;
    justify-content: center;
}

.loader-layer-info>.update-loader>span {
    height: 60px;
    padding: 4px;
}

.update-loader span {
    width: 10px;
    height: 35px;
    margin: 0px 1px;
    background-color: white;
    animation: loading 0.8s ease-in-out infinite both;
}

.update-loader span:nth-child(1) {
    background-color: #2eeca8;
    animation-delay: 0.1s;
}

.update-loader span:nth-child(2) {
    background: #eade3d;
    animation-delay: 0.2s;
}

.update-loader span:nth-child(3) {
    background: #55acee;
    animation-delay: 0.3s;
}

.update-loader span:nth-child(4) {
    background: #ec902e;
    animation-delay: 0.4s;
}

.update-loader span:nth-child(5) {
    background: #09b7bf;
    animation-delay: 0.5s;
}

.update-loader span:nth-child(6) {
    background: #ea3d8c;
    animation-delay: 0.6s;
}

@keyframes loading {
    0% {
        transform: scaleY(0.1);
    }
    35% {
        transform: scaleY(1);
    }
    60%,
    100% {
        transform: scaleY(0.1);
    }
}