.mainframe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.card {
    position: relative;
    height: 620px;
    width: 320px;
    border-radius: 24px;
    background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.5), transparent 30%);
    background-repeat: no-repeat;
    background-position: center center;
}

.card__header {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card__header-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    z-index: 2;
}

/* .card__header-btn img:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 8px;
} */

.card__header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card__header-info {
    display: flex;
    flex-direction: column;
}

.card__header-name {
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: 16px;
}

.card__header-types {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.card__header-type {
    border: 1px dotted black;
    padding: 16px;
    border-radius: 8px;
}

.card__header-ID {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.card__header-images {
    padding-top: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    box-sizing: border-box;
}

.pokeImgBG {
    position: absolute;
    z-index: 3;
    height: 100%;
}

.pokeImg {
    position: absolute;
    z-index: 4;
    height: 100%;
    bottom: 8px;
}

.backgroundCard {
    background-image: url(../img/pokemonball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*############## Zweiter Bereich ######################*/

.statsframe {
    position: absolute;
    bottom: 0;
    border-radius: 24px;
    background-color: aliceblue;
    height: 340px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin-top: 32px;
}

.linkframe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: gray 1px solid;
    width: 100%;
    padding-bottom: 8px;
}

.linkframe span {
    cursor: pointer;
}

.linkframe span:hover {
    font-weight: bolder;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    height: 40px;
}

td {
    min-width: 120px;
}