* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Pokemon Solid", sans-serif;
	font-weight: normal;
	line-height: 16px;
	letter-spacing: 2px;

	display: flex;
	flex-direction: column;
	height: 100vh;

	background-color: whitesmoke;
}

main {
	margin-top: 220px;
	flex: 1 0 auto;
}

/*#### Header #####*/

header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	background-image: url(../img/poke-background.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	display: flex;
	flex-direction: column;
	padding-inline: 48px;
}

.header__images {
	display: flex;
	padding-top: 16px;
	justify-content: space-between;
}

.header__images img {
	height: 100px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 16px;
}

.nav__search {
	border-radius: 16px;
	height: 48px;
	font-size: 16px;
	padding-left: 8px;
}

header img {
	cursor: pointer;
}

.pokedex_logo {
	height: 100px;
}

/*###### FOOTER ###########*/

footer {
	margin-top: 12px;
	padding-inline: 48px;
	padding-block: 16px;
	background-image: url(../img/poke-background.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	flex: 0 0 100px;
}

.btn-frame {
	display: flex;
	justify-content: space-evenly;
}

@media only screen and (max-width: 700px) {
	.header__images {
		justify-content: center;
	}

	.nav {
		gap: 16px;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.pokedex_logo {
		display: none;
	}

	main {
		margin-top: 300px;
	}
}

@media only screen and (max-width: 520px) {
	main {
		margin-top: 370px;
	}
}

@media only screen and (max-width: 300px) {
	main {
		margin-top: 500px;
	}

	.btn-frame {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}